<ion-item text-wrap>
    <ion-card>

        <ion-item>
            <ion-avatar item-left>
                <forum-user-avatar [user]="bar.user"></forum-user-avatar>
            </ion-avatar>
            <h2>{{bar.user.username}}</h2>
            <p>{{bar.dateCreated | date:'medium'}}</p>
        </ion-item>

        <!--<img src="img/advance-card-bttf.png">-->
        <div class="bar-card-title wordwrap">
            {{bar.title}}
        </div>
        <div class="bar-card-question wordwrap left-border-primary">
            {{bar.question}}
        </div>

        <ion-row class="left-border-primary">
            <ion-col>
                <button color="primary" clear small (click)="viewReviews(bar.key)">
        <ion-icon name="quote"></ion-icon>
        <div>{{bar.reviews}} Comments</div>
      </button>
            </ion-col>
            <ion-col center text-center>
                <ion-note>
                    Category: {{bar.category}}
                </ion-note>
                <ion-note>
                    Music: {{bar.musicCategory}}
                </ion-note>
                <ion-note>
                    Hotness:{{bar.hotness}}
                </ion-note>
            </ion-col>
        </ion-row>
    </ion-card>
</ion-item>
